

body{
    background-color: var(--pastelblue300);
}

#container{
    

    margin: 10%;

    background-color: rgb(90, 156, 255, 0.5);
    border-radius: 10px;
}

#title{
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 70%;
}