 :root {
    --white: #ffffff;
    --white200: #f2f8fa;
    --gray100: #e1e1e6;
    --gray200: #cdcdd3;
    --gray300: #c4c4cc;
    --gray400: #8d8d99;
    --gray600: #323238;
    --gray700: #29292e;
    --gray800: #202024;
    --gray900: #121214;
    --black: black;

    --blue200: #aed0ff;
    --blue300: #8dbbfa;
    --blue500: #5376c2;
    --blue700: #2d52a1;
    --blue900: #0e3994;

    --gray-blue300: #6b6f8b;
    --gray-blue500: #4d5276;
} 

 * {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 body{
    background: linear-gradient(135deg, var(--blue200), var(--blue700));
    color: var(--black);
  }
#container{
    width: 90%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile{
    border-radius: 10px;
    background-color: var(--white);
    
    margin: 30px;
    padding: 50px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 #profile img{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
    
  }
#profile p{
    font-size: 2rem;
}
#profile span{
    
    color: var(--gray900);
    opacity: 0.8;
    font-style: none;
    font-size: 1rem;
}

 ul li{
    background-color: var(--white);  
    
    border-radius: 10px;
    padding: 20px;
    margin: 10px 30px;
    
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    
  }
  ul li div a{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  ul li *{
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px 10px;

  }
  #Sobre{
    background-color: var(--blue200);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
   
  }

  #Sobre:hover{
    cursor: pointer;
  }

  .sobre{
    text-align: justify;
    font-size: 1rem;
    margin-top: 0.5rem;


    display: flex;
    position: relative;
  }
  


